@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

body {
  --tt-toolbar-height: 44px;
}

.tiptap.ProseMirror {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--foreground);
}

.simple-editor-wrapper {
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

.simple-editor-content {
  width: 100%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  flex: 1;
  padding: 2rem;
  outline: none;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor:focus {
  outline: none;
}

@media screen and (max-width: 480px) {
  .simple-editor-content .tiptap.ProseMirror.simple-editor {
    padding: 1rem;
  }
}
